.k-section-name-pings { font-size:.75rem; line-height:1.25rem; }
	.k-section-name-pings table { max-width:100%; width:100%; padding:.5rem .75rem; background:#fff; border-radius:1px; -webkit-box-shadow:rgba(22,23,26,.05) 0 2px 5px; box-shadow:0 2px 5px rgba(22,23,26,.05); }
